body {
    --primary-color: #22252D;
    --sec-color: #292D36;
    --other-color: #22252D;
    --input-color: white;
    --sec-input-color: rgba(255, 255, 255, .6);
    --dark-moon-color: rgba(255, 255, 255, 0.8);
    --light-sun-color: rgba(255, 255, 255, 0.3);
    --btn-copy-color: rgba(255, 255, 255, 0.8);
    --footer-color: rgba(255, 255, 255, .7);
    --riwayat-color: #22252D;
}

body[data-theme="light"] {
    --primary-color: #FFFFFF;
    --sec-color: #f7f7f7;
    --other-color: #ececec;
    --input-color: #555454;
    --sec-input-color: rgba(0, 0, 0, .3);
    --dark-moon-color: #bbbaba;
    --light-sun-color: #696b6e;
    --btn-copy-color: #696b6e;
    --footer-color: #555454c4;
    --riwayat-color: #e4e4e4;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    transition: all ease .3s;
    position: relative;
    background: var(--primary-color);

}

.calculator {
    position: relative;
    width: 100%;
    max-width: 2000px;
    height: 100vh;
    max-height: 650px;
    min-height: 550px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--primary-color);
    overflow: hidden;
    color: var(--input-color);
}

.result-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 35px;
    box-sizing: border-box;
}

.result-input {
    text-align: right !important;
    background: transparent;
    border: none;
    outline: none;
    margin-top: 10px;
    width: 90%;
    color: var(--input-color);
    font-family: monospace;
    font-weight: bold;
}

.result-input-kecil {
    height: 30px;
    font-size: 30px;
    color: var(--sec-input-color);
}

.result-input-besar {
    height: 70px;
    font-size: 80px;
}

.body-calculator {
    height: 300px;
    background: var(--sec-color);
    border-radius: 20px 20px 0 0;
    padding: 30px 0px;
    display: flex;
    box-sizing: border-box;
}

.item-calculator-container {
    width: 90%;
    margin: auto;
}

.delete-result-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.number-calculator-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    width: 22%;
    min-width: 50px;
    height: 40px;
    background: var(--other-color);
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.operator-item {
    font-size: 32px;
}

.item:hover {
    opacity: .5;
}

.delete-result-container>.item,
.item-red-1 {
    color: #26D7B8;
}

.item-red {
    color: #ED7878 !important;
}

.item-red-2 {
    color: #26D7B8 !important;
}

.theme-container,
.btn-copy {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 100px;
    border-radius: 10px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    background: var(--sec-color);
}

.light-theme,
.dark-theme {
    width: 50%;
    display: flex;
    cursor: pointer;
}

.btn-theme {
    font-size: 25px;
    margin: auto;
}

.btn-light-theme {
    color: var(--light-sun-color);
}

.btn-dark-theme {
    color: var(--dark-moon-color);
}

footer {
    padding: 20px;
    text-align: center;
    background: var(--primary-color);
    color: var(--footer-color);
}

footer>a {
    color: var(--input-color);
    font-weight: bold;
    text-decoration: none;
}

.btn-copy {
    left: 135px;
    width: 45px;
    align-items: center;
    justify-content: center;
    color: var(--btn-copy-color);
    cursor: pointer;
    display: none;
    font-size: 25px;
}

.btn-riwayat {
    position: absolute;
    top: 15px;
    right: 2.5%;
    width: 45px;
    height: 45px;
    background: var(--sec-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
}

.riwayat-container {
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    opacity: 0;
    transition: all ease .3s;
    visibility: hidden;
}

.riwayat-box {
    position: absolute;
    right: -300px;
    width: 20%;
    min-width: 300px;
    height: 100vh;
    background: var(--sec-color);
    color: var(--input-color);
    transition: all ease .5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-riwayat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.header-riwayat-txt {
    font-size: 38px;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 5px solid var(--riwayat-color);
}

.body-riwayat {
    background: var(--riwayat-color);
    width: 100%;
    height: 100%;
    font-size: 25px;
    padding: 15px;
    font-weight: bold;
    color: var(--sec-input-color);
    padding-top: 25px;
    overflow-y: auto;
}

.footer-riwayat {
    display: flex;
    justify-content: flex-end;
    font-size: 17px;
    padding: 15px;
}

.btn-trash,
.close-riwayat {
    cursor: pointer;
    padding: 14px 16px;
    font-size: 23px;
    background: var(--riwayat-color);
    border-radius: 7px;
}

.close-riwayat {
    padding: 13px 16px;
}

.btn-trash:hover,
.close-riwayat:hover,
.btn-copy:hover,
.btn-riwayat:hover {
    opacity: .7;
}

.riwayat-kalkulator {
    padding: 10px;
    font-family: monospace;
    font-size: 40px;
    width: 90%;
    overflow-x: auto;
    box-sizing: border-box;
    text-align: right;
    border-radius: 5px;
    cursor: pointer;
}

.riwayat-kalkulator:hover {
    background: var(--sec-color);
}

@media screen and (max-width: 450px) {
    .riwayat-box {
        width: 100%;
        min-width: 100% !important;
    }

    .result-input {
        width: 80%;
    }
}